.header{
    height: 46px;
    background-color: #3190e8;
    display: flex;
}

.left{
    width: 50px;
    text-align: center;
    line-height: 46px;
}

.center{
    flex: 1;
    color: #fff;
    font-size: .8rem;
    display: block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 46px;
    padding: 0 20px;
}

.right{
    width: 70px;
    font-size: .65rem;
    font-weight: 400;
    line-height: 46px;
    color: #fff;
    padding: 0 5px;
    text-align: center;
}
