.dialog-container{
  display: flex;
  flex-direction: column;
  h5{
    font-size: .7rem;
    color: #666;
  }
  .dialog-content{
    display: flex;
    margin:.5rem 0;
    flex-direction: column;
    flex-wrap: wrap;
    .size {
      display: flex;
      flex-wrap: wrap;
      span {
        font-size: .6rem;
        border: 0.025rem solid #ddd;
        border-radius: 0.2rem;
        margin-right: 0.5rem;
        margin-bottom: 0.2rem;
        padding: 0.3rem 0.5rem;
      }
      .activeSpan{
        border-color: #3199e8;
        color: #3199e8;
      }
    }
  }
  .priceTag{
    font-size: .8rem;
    font-weight: 700;
    font-family: Helvetica Neue,Tahoma;
    color: #ff6000;
    align-self: flex-end;
  }
}
.dialog-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 0.5rem;
  border: 1px;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
